<include file="Public/header"/>
<!-- matter-->
<div class="matter">
    <div class="wrap">
        <div class="matter_box">
            <div class="navL">
                <div class="newsType">
                    <a href="javaScript:;" class="current">学院新闻</a>
                    <span>|</span>
                    <a href="javaScript:;">通知公告</a>
                </div>
                <div class="navL_h">
                    <img src="__IMG__/news/icon.png" alt=""/>
                    <em>|</em>
                    新闻推荐
                </div>
                <ul class="navUl navUl_news">
                    <li>
                        <a href="javaScript:;" data-url="" class="navUl_a">
                            <em>2018年春季法宣禁毒会议召开</em>
                        </a>
                    </li>
                    <li>
                        <a href="javaScript:;" data-url="" class="navUl_a">
                            <em>商务部高端援外硕博项目学员体验元宵节传统文化</em>
                        </a>
                    </li>
                    <li>
                        <a href="javaScript:;" data-url="" class="navUl_a">
                            <em>秋季学期报到注册工作顺利完成</em>
                        </a>
                    </li>
                    <li>
                        <a href="javaScript:;" data-url="" class="navUl_a">
                            <em>我院组织奖学金生赴东北考察</em>
                        </a>
                    </li>
                    <li>
                        <a href="javaScript:;" data-url="" class="navUl_a">
                            <em>我院组织高端硕士项目学员赴浙江考察</em>
                        </a>
                    </li>
                    <li>
                        <a href="javaScript:;" data-url="" class="navUl_a">
                            <em>一堂特别的中国传统文化课</em>
                        </a>
                    </li>
                    <li>
                        <a href="javaScript:;" data-url="" class="navUl_a">
                            <em>扬一带一路风帆，听贸大“青年”诉说</em>
                        </a>
                    </li>
                    <li>
                        <a href="javaScript:;" data-url="" class="navUl_a">
                            <em>汉语之星大赛</em>
                        </a>
                    </li>
                    <li>
                        <a href="javaScript:;" data-url="" class="navUl_a">
                            <em>国际学院召开本科教学工作审核评估动员会</em>
                        </a>
                    </li>
                    <li>
                        <a href="javaScript:;" data-url="" class="navUl_a">
                            <em>我校召开来华留学生教育工作领导小组会议</em>
                        </a>
                    </li>
                </ul>
                <div class="meet">
                    <div class="meet_imgs">
                        <ul class="new_scoll">
                            <li>
                                <a href=""><img src="images/news/meet.jpg" alt=""/></a>
                                <p>相约贸大</p>
                            </li>
                            <li>
                                <a href=""><img src="images/news/meet.jpg" alt=""/></a>
                                <p>相约贸大2</p>
                            </li>
                            <li>
                                <a href=""><img src="images/news/meet.jpg" alt=""/></a>
                                <p>相约贸大3</p>
                            </li>
                            <li>
                                <a href=""><img src="images/news/meet.jpg" alt=""/></a>
                                <p>相约贸大4</p>
                            </li>
                            <li>
                                <a href=""><img src="images/news/meet.jpg" alt=""/></a>
                                <p>相约贸大5</p>
                            </li>
                        </ul>
                    </div>
                    <div class="meet_btn">
                        <!-- span-->
                    </div>
                </div>
            </div>
            <div class="contR">
                <div class="cont_box">
                    <div class="bannerR">
                        <volist name="picture" id="vo">
	                        <img src="/{:C('PICTURE_UPLOAD')['rootPath'].$vo['path']}" alt=""/>
	                    </volist>
                    </div>
                    <div class="headline">
                        <span class="hl_icon"></span>
                        <!-- 面包屑 -->
                       <volist name="words" id="vo">
	                	<if condition="$vo.id eq 3">
	                		{$vo[$title]}：
	                	</if>
               			</volist>
                       <volist name="crumb" id="vo">
                        	<if condition="$key eq 0">
		                        <a href="{$vo['url']}">{$vo[$title]}</a>
		                        >
	                        </if>
	                        <if condition="$key eq 1">
		                        <a href="{$vo['url']}">{$vo[$title]}</a>
		                        >
	                        </if>
		                    <if condition="$key eq 2">
		                        <span id="activecrumb">
			                        <a href="javascript:;">{$vo[$title]}</a>
                        		</span>
		                    </if>
                        </volist>
                    </div>
                    <div class="matterBox">
                        <div class="details">
                            <h1>2018年春季法宣禁毒会议召开</h1>
                            <h3>作者：   <em>|</em>  浏览：200   <em>|</em> 发行时间：2018-03-13</h3>
                            <div class="details_cont">
                                <p>2018年3月12日上午9点50份，2018年度对外经济贸易大学外国留学生春季法宣教育大会在宁远楼三层报告厅召开。北京市公安局出入境管理总队的刘强大队长、北京市禁毒总队的李轶凡政委、来自出入境管理总队的多名警官及对外经济贸易大学各学院的留学生管理老师和300余名留学生参加了本次法宣大会。</p>
                                <img src="images/news/news_details1.jpg" alt=""/>
                                <img src="images/news/news_details2.jpg" alt=""/>
                                <p>北京市公安局出入境管理总队的梅文警官就签证申请、住宿登记、交通安全、消防安全、公共安全等方面的法律法规及常识进行了全面而详细的讲解，进一步强化了学生的遵纪守法意识。</p>
                                <p>通过本次宣传会议，留学生各方面的安全及守法意识得到了进一步提高，更加详细了解毒品知识，提高了识别和预防毒品的能力，对在华生活中要注意的各类法律规定也有了更深刻的了解。</p>
                                <div class="Dshare" id="share">
                                    <div class="bdsharebuttonbox">
                                        <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                                        <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                                        <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                                        <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                                    </div>
                                    <span>分享到：</span>
                                </div>
                            </div>
                            <h2>更多阅读</h2>
                            <ul class="news_more">
                                <li>
                                    <h4>商务部高端援外硕博项目学员体验元宵节传统文化</h4>
                                    <h5>学院新闻<em>2018-03-02</em></h5>
                                    <p>
                                        为帮助商务部高端援外硕博项目学员更好地体验中国传统文化，国际学院于3月2日下午组织了元宵节庆祝活动，学历教育事务部主任史锐老师、高端项目协调人李沁心老师与80余名商务部高端援外硕博项目学员欢聚一堂，共度中国传统元宵佳节......
                                        <a href="">[ 查看全文 ]</a>
                                    </p>
                                </li>
                                <li>
                                    <h4>国际学院师生共贺新春</h4>
                                    <h5>学院新闻<em>2018-02-14</em></h5>
                                    <p>
                                        狗年春节将至，对外经济贸易大学百余名在华留学生欢聚一堂，包饺子，写春联，挂灯笼， 送祝福，欢欢喜喜过新年。校党委副书记、副校长赵忠秀教授和副校长王强教授带队向留校师生员工表示慰问，向留学生讲述中国传统佳节春节的习俗......
                                        <a href="">[ 查看全文 ]</a>
                                    </p>
                                </li>
                            </ul>
                            <div class="return_news">
                                <a href="news.html">返回全部学院新闻</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- share-->
<style>
    .bdsharebuttonbox{float: right;height: 40px;line-height: 40px;}
    .bdsharebuttonbox a{margin: 0 5px;display: inline-block;width: 37px;height: 37px;}
    .bdsharebuttonbox a.bds_tsina{background: url("images/news/sina.png") no-repeat;}
    .bdsharebuttonbox a.bds_qzone{background: url("images/news/qq.png") no-repeat;}
    .bdsharebuttonbox a.bds_weixin{background: url("images/news/weChat.png") no-repeat;}
    .bdsharebuttonbox a.bds_tqq{background: url("images/news/xina.png") no-repeat;}
</style>
<script>
    window._bd_share_config = {
        "common": {
            "bdSnsKey": {},
            "bdText": "",
            "bdMini": "1",
            "bdMiniList": false,
            "bdPic": "",
            "bdStyle": "0",
            "bdSize": "16"
        },
        "share": {},
        "selectShare": {
            "bdContainerClass": null,
            "bdSelectMiniList": ["tsina", "qzone", "weixin", "tqq"]
        }
    };with (document)0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
</script>
<!-- end-->
<img src="__IMG__/Floating.png" alt="" id="Floating" class="Floating">
<script>
    $('ul.menu_ul li:eq(4)').addClass('current');
    $('ul.navUl li:first-child a').css('border-top','0');
</script>
<include file="Public/footer"/>