
	<div class="footer_addr">
	    <div class="wrap">
		    <h4>{$words['w10']}</h4>
		    <p>
		    {$words['w8']}：{$words['w12']}
	        	<em>
			       {$words['w9']}：100029
	        	</em>
	        </p>
	    </div>
	</div>
	<div class="footer_tel">
		<span>
        <img src="__IMG__/tel.png" alt=""/>
        	{$words['w5']}：(86-10) 6449-2327 / (86-10) 6449-2329
    	</span>
		<span>
        <img src="__IMG__/emile.png" alt=""/>
        	{$words['w6']}：sie@uibe.edu.cn
    	</span>
		<span>
        <img src="__IMG__/fax.png" alt=""/>
        	{$words['w7']}：(86-10) 6449-3820
    	</span>
	</div>
</body>
</html>