
	<div class="footer_addr">
	    <div class="wrap">
	    	<volist name="fixedchannel" id="vo">
				<if condition="$vo['block'] eq 38"> 
			     	<h4>{$vo[$title]}</h4>
			    </if>
		    </volist>
		    <p>
		    	<volist name="fixedchannel" id="vo">
			    	<if condition="$vo['block'] eq 39"> 
		        		{$vo[$title]}
		        	</if>
	        	</volist>
	        	<em>
		        	<volist name="fixedchannel" id="vo">
			        	<if condition="$vo['block'] eq 40"> 
			        		{$vo[$title]}
			        	</if>
			        </volist>
	        	</em>
	        </p>
	        
		
	    </div>
	</div>
	<div class="footer_tel">
	    <span>
	        <img src="__IMG__/emile.png" alt=""/>
	        <volist name="fixedchannel" id="vo">
		        <if condition="$vo['block'] eq 41"> 
			        {$vo[$title]}
			    </if>
		    </volist>
	    </span>
	    <span>
	        <img src="__IMG__/tel.png" alt=""/>
	        <volist name="fixedchannel" id="vo">
		        <if condition="$vo['block'] eq 42"> 
			        {$vo[$title]}
			    </if>
		    </volist>
	    </span>
	    <span>
	        <img src="__IMG__/fax.png" alt=""/>
	        <volist name="fixedchannel" id="vo">
		        <if condition="$vo['block'] eq 43"> 
			        {$vo[$title]}
			    </if>
		    </volist>
	    </span>
	</div>
</body>
</html>