<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>{$info['id']?'编辑':'新增'}导航分组</h2>
    </div>
    <form action="{:U()}" method="post" enctype="multipart/form-data"  class="form-horizontal" >
        <div class="form-item">
            <label class="item-label">标题</label>
            <div class="controls">
                <input type="text" class="text input-large" name="title" value="{$info.title|default=''}">
            </div>
        </div>
       <div class="form-item">
            <label class="item-label">描述</label>
            <div class="controls">
                <input type="text" class="text input-large" name="describe" value="{$info.describe|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
			<div class="layui-inline">
	            <label class="layui-form-label">排序</label>
	            <div class="layui-input-inline" style="width: 100px;">
	                <input type="text" class="layui-input" name="sort" value="{$info.sort|default=0}">
	            </div>
        	</div>
        	<div class="layui-inline">
	            <label class="layui-form-label">隐藏</label>
	            <div class="layui-input-inline" style="margin-top: 10px;">
	            	<label class="radio"><input type="radio" name="hide" value="1">是</label>
	            	<label class="radio"><input type="radio" name="hide" value="0">否</label>
	            </div>
        	</div>
		</div>
		<input type="file" name="image" accept="image/jpeg" multiple id="file" style="display:none;"/>
        <div class="layui-upload" >
	  		<button type="button" class="layui-btn" id="upload" >图片上传</button> 
	  		<blockquote class="layui-elem-quote layui-quote-nm" >
	    		预览图：
	    		<div class="layui-upload-list" id="demo2"></div>
	 		</blockquote>
		</div>
        <div class="form-item">
            <input type="hidden" name="id" value="{$info.id|default=''}">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
    
</block>
<block name="script">
    <script type="text/javascript">
    	highlight_subnav('{:U('index')}');
    	Think.setValue("hide", {$info.hide|default = 0});
    	$(function(){
    		$("#upload").bind("click",function(){$("#file").click()});
    		$("#file").bind('input property change', function(){viewImage()});
    		
    	});
    	
    	function viewImage(){
    		var file=$("#file")[0].files;   // 获取input上传的图片数据;
			if(file){
				$('#demo2').empty();
				for(var i=0;i<file.length;i++){
					$('#demo2').append('<img src="'+ window.URL.createObjectURL(file[i]) +'" alt="'+ file.name +'" style="max-height:70px;max-width:70px;margin-right: 10px;margin-top: 10px;">')
				}
			}
    	}
    </script>
</block>