<include file="Public/header"/>
<!-- banner-->
<div class="banner_contact">
    <img src="images/contact/banner.jpg" alt=""/>
</div>
<!-- contact-->
<div class="contact">
    <div class="wrap">
        <div class="_contact">
            <h1>
                当前位置：
                <a href="javaScript:;">首页</a>
                >
                <a href="javaScript:;">联系我们</a>
                <span></span>
                <em></em>
            </h1>
            <div class="contact_box">
                <div class="cL">
                    <img src="__IMG__/contact/clock.png" alt="" class="clock"/>
                    <h2>08:30—11:30</h2>
                    <h2>13:30—16:30</h2>
                    <h4>周一至周五</h4>
                    <img src="__IMG__/contact/code.jpg" alt="" class="code"/>
                    <p>扫一扫关注</p>
                </div>
                <div class="cM">
                    <h2>工作咨询电话</h2>
                    <p class="cM_p1">电话：（86-10）64492327，64492329</p>
                    <p class="cM_p2">传真：（86-10）64493820</p>
                    <h2>报名咨询电话</h2>
                    <p class="cM_p1">电话：（86-10）64492327，64492329</p>
                    <p class="cM_p2">传真：（86-10）64493820</p>
                    <h2>我们的地址</h2>
                    <p class="cM_p1">中国     北京市朝阳区惠新东街10号</p>
                    <p class="cM_p2">邮编：100029</p>
                </div>
                <div class="cR">
                    <h2>活动报名</h2>
                    <form action="" id="activity" class="activity">
                        <select name="" id="" class="act_type">
                            <option value="">选择活动类型</option>
                        </select>
                        <input type="button" class="btn" value="提交活动"/>
                        <select name="" id="" class="section">
                            <option value="">招生部</option>
                        </select>
                        <select name="" id="" class="">
                            <option value="">请选择</option>
                        </select>
                        <input type="text" class="name" placeholder="姓名"/>
                        <input type="text" class="tel" placeholder="电话"/>
                        <textarea class='act_tex'>请填写报告内容</textarea>
                    </form>
                    <h2>联络邮件</h2>
                    <p>E-mail:  sie@uibe.edu.cn</p>
                    <p>nondegree@163.com（非学历项目咨询）</p>
                    <p>degreeinchinese@163.com（中文授课学历项目咨询）</p>
                    <p>degreeinenglish@163.com（英文授课学历项目咨询）</p>
                    <p>uibescholarship@163.com（奖学金事宜咨询）</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ditu-->
<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
<div class="dituContent" id="dituContent" data-point="116.43424,39.98642"></div>
<script type="text/javascript" src="js/mapContact.js"></script>
<script>
    $('#nav a:eq(6)').addClass('current');
</script>
<include file="Public/footer"/>