<include file="Public/header"/>
<!-- matter-->
<div class="matter">
    <div class="wrap">
        <div class="matter_box">
            <div class="navL">
                <div class="navL_h">
                    <img src="__IMG__/job/icon.png" alt=""/>
                    <em>|</em>
                    实习就业
                </div>
                <ul class="navUl" style='background: url("images/icon/bg.jpg") no-repeat 100% 100%;padding-bottom: 140px;'>
                    <li>
                        <a href="javaScript:;" data-url="" class="navUl_a">
                            <em>就业指导</em>
                            <img src="__IMG__/icon/add.png" class="ia" alt=""/>
                            <img src="__IMG__/icon/add_cur.png" class="ia2" alt=""/>
                        </a>
                        <ol class="navOl">
                            <li><a href="javaScript:;"> >> <span>求职宝典</span></a></li>
                            <li><a href="javaScript:;"> >> <span>职业规划</span></a></li>
                            <li><a href="javaScript:;"> >> <span>职业评测</span></a></li>
                        </ol>
                    </li>
                    <li>
                        <a href="javaScript:;" data-url="" class="navUl_a">
                            <em>自主创业</em>
                            <img src="__IMG__/icon/add.png" class="ia" alt=""/>
                            <img src="__IMG__/icon/add_cur.png" class="ia2" alt=""/>
                        </a>
                        <ol class="navOl">
                            <li><a href="javaScript:;"> >> <span>创业政策</span></a></li>
                            <li><a href="javaScript:;"> >> <span>创业指导</span></a></li>
                            <li><a href="javaScript:;"> >> <span>典型事例</span></a></li>
                        </ol>
                    </li>
                    <li>
                        <a href="javaScript:;" data-url="" class="navUl_a">
                            <em>招聘专栏</em>
                            <img src="__IMG__/icon/add.png" class="ia" alt=""/>
                            <img src="__IMG__/icon/add_cur.png" class="ia2" alt=""/>
                        </a>
                        <ol class="navOl">
                            <li><a href="javaScript:;"> >> <span>实习信息</span></a></li>
                            <li><a href="javaScript:;"> >> <span>就业信息</span></a></li>
                        </ol>
                    </li>
                    <li>
                        <a href="javaScript:;" data-url="" class="navUl_a">
                            <em>实践考察</em>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="contR">
                <div class="cont_box">
                    <div class="bannerR">
                        <img src="images/job/banner.jpg" alt=""/>
                    </div>
                    <div class="headline">
                        <span class="hl_icon"></span>
                        当前位置：
                        <a href="javaScript:;">首页</a>
                        >
                        <a href="javaScript:;">实习就业</a>
                    </div>
                    <div class="matterBox">
                        <ul class="job">
                            <li class="current">
                                <div class="job_list">
                                    <img src="__IMG__/project/play.png" alt=""/>
                                    <a href="javaScript:;">面试中应该注意哪些礼节？</a>
                                    <em>2018-03-11</em>
                                </div>
                                <div class="job_box">
                                    <a href="" class="job_img">
                                        <img src="images/job/job.jpg" alt=""/>
                                    </a>
                                    <div class="job_cont">
                                        <h2>面试中应该注意哪些礼节？</h2>
                                        <p>
                                            应提前多长时间到达面试地点？提前10分钟到达效果最佳。在面试时迟到或是匆匆忙忙赶到都是致命的，而提前半小时以上到达亦会被视为没有时间观念。到达面试地点后应在等候室耐心等候，并保持安静及正确的坐姿.....
                                            <a href="">[详情]</a>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="job_list">
                                    <img src="__IMG__/project/play.png" alt=""/>
                                    <a href="javaScript:;">个人简历的九大注意事项</a>
                                    <em>2018-03-11</em>
                                </div>
                                <div class="job_box">
                                    <a href="" class="job_img">
                                        <img src="images/job/job.jpg" alt=""/>
                                    </a>
                                    <div class="job_cont">
                                        <h2>个人简历的九大注意事项</h2>
                                        <p>
                                            应提前多长时间到达面试地点？提前10分钟到达效果最佳。在面试时迟到或是匆匆忙忙赶到都是致命的，而提前半小时以上到达亦会被视为没有时间观念。到达面试地点后应在等候室耐心等候，并保持安静及正确的坐姿.....
                                            <a href="">[详情]</a>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="job_list">
                                    <img src="__IMG__/project/play.png" alt=""/>
                                    <a href="javaScript:;">一分钟自我介绍怎么说最精彩？</a>
                                    <em>2018-03-11</em>
                                </div>
                                <div class="job_box">
                                    <a href="" class="job_img">
                                        <img src="images/job/job.jpg" alt=""/>
                                    </a>
                                    <div class="job_cont">
                                        <h2>一分钟自我介绍怎么说最精彩？</h2>
                                        <p>
                                            应提前多长时间到达面试地点？提前10分钟到达效果最佳。在面试时迟到或是匆匆忙忙赶到都是致命的，而提前半小时以上到达亦会被视为没有时间观念。到达面试地点后应在等候室耐心等候，并保持安静及正确的坐姿.....
                                            <a href="">[详情]</a>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="job_list">
                                    <img src="__IMG__/project/play.png" alt=""/>
                                    <a href="javaScript:;">正确投递简历</a>
                                    <em>2018-03-11</em>
                                </div>
                                <div class="job_box">
                                    <a href="" class="job_img">
                                        <img src="images/job/job.jpg" alt=""/>
                                    </a>
                                    <div class="job_cont">
                                        <h2>正确投递简历</h2>
                                        <p>
                                            应提前多长时间到达面试地点？提前10分钟到达效果最佳。在面试时迟到或是匆匆忙忙赶到都是致命的，而提前半小时以上到达亦会被视为没有时间观念。到达面试地点后应在等候室耐心等候，并保持安静及正确的坐姿.....
                                            <a href="">[详情]</a>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="job_list">
                                    <img src="__IMG__/project/play.png" alt=""/>
                                    <a href="javaScript:;">简历关键词</a>
                                    <em>2018-03-11</em>
                                </div>
                                <div class="job_box">
                                    <a href="" class="job_img">
                                        <img src="images/job/job.jpg" alt=""/>
                                    </a>
                                    <div class="job_cont">
                                        <h2>简历关键词</h2>
                                        <p>
                                            应提前多长时间到达面试地点？提前10分钟到达效果最佳。在面试时迟到或是匆匆忙忙赶到都是致命的，而提前半小时以上到达亦会被视为没有时间观念。到达面试地点后应在等候室耐心等候，并保持安静及正确的坐姿.....
                                            <a href="">[详情]</a>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="job_list">
                                    <img src="__IMG__/project/play.png" alt=""/>
                                    <a href="javaScript:;">应聘者接到面试通知后应该做些什么？</a>
                                    <em>2018-03-11</em>
                                </div>
                                <div class="job_box">
                                    <a href="" class="job_img">
                                        <img src="images/job/job.jpg" alt=""/>
                                    </a>
                                    <div class="job_cont">
                                        <h2>应聘者接到面试通知后应该做些什么？</h2>
                                        <p>
                                            应提前多长时间到达面试地点？提前10分钟到达效果最佳。在面试时迟到或是匆匆忙忙赶到都是致命的，而提前半小时以上到达亦会被视为没有时间观念。到达面试地点后应在等候室耐心等候，并保持安静及正确的坐姿.....
                                            <a href="">[详情]</a>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="job_list">
                                    <img src="__IMG__/project/play.png" alt=""/>
                                    <a href="javaScript:;">求职注意事项</a>
                                    <em>2018-03-11</em>
                                </div>
                                <div class="job_box">
                                    <a href="" class="job_img">
                                        <img src="images/job/job.jpg" alt=""/>
                                    </a>
                                    <div class="job_cont">
                                        <h2>求职注意事项</h2>
                                        <p>
                                            应提前多长时间到达面试地点？提前10分钟到达效果最佳。在面试时迟到或是匆匆忙忙赶到都是致命的，而提前半小时以上到达亦会被视为没有时间观念。到达面试地点后应在等候室耐心等候，并保持安静及正确的坐姿.....
                                            <a href="">[详情]</a>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="job_list">
                                    <img src="__IMG__/project/play.png" alt=""/>
                                    <a href="javaScript:;">毕业生参加现场招聘会：教你如何亮出自己</a>
                                    <em>2018-03-11</em>
                                </div>
                                <div class="job_box">
                                    <a href="" class="job_img">
                                        <img src="images/job/job.jpg" alt=""/>
                                    </a>
                                    <div class="job_cont">
                                        <h2>毕业生参加现场招聘会：教你如何亮出自己</h2>
                                        <p>
                                            应提前多长时间到达面试地点？提前10分钟到达效果最佳。在面试时迟到或是匆匆忙忙赶到都是致命的，而提前半小时以上到达亦会被视为没有时间观念。到达面试地点后应在等候室耐心等候，并保持安静及正确的坐姿.....
                                            <a href="">[详情]</a>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="job_list">
                                    <img src="__IMG__/project/play.png" alt=""/>
                                    <a href="javaScript:;">中国水电建设集团国际工程有限公司 2015年度在华留学生招聘公告</a>
                                    <em>2018-03-11</em>
                                </div>
                                <div class="job_box">
                                    <a href="" class="job_img">
                                        <img src="images/job/job.jpg" alt=""/>
                                    </a>
                                    <div class="job_cont">
                                        <h2>中国水电建设集团国际工程有限公司 2015年度在华留学生招聘公告</h2>
                                        <p>
                                            应提前多长时间到达面试地点？提前10分钟到达效果最佳。在面试时迟到或是匆匆忙忙赶到都是致命的，而提前半小时以上到达亦会被视为没有时间观念。到达面试地点后应在等候室耐心等候，并保持安静及正确的坐姿.....
                                            <a href="">[详情]</a>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="job_list">
                                    <img src="__IMG__/project/play.png" alt=""/>
                                    <a href="javaScript:;">中关村一带一路产业促进会招聘信息</a>
                                    <em>2018-03-11</em>
                                </div>
                                <div class="job_box">
                                    <a href="" class="job_img">
                                        <img src="images/job/job.jpg" alt=""/>
                                    </a>
                                    <div class="job_cont">
                                        <h2>中关村一带一路产业促进会招聘信息</h2>
                                        <p>
                                            应提前多长时间到达面试地点？提前10分钟到达效果最佳。在面试时迟到或是匆匆忙忙赶到都是致命的，而提前半小时以上到达亦会被视为没有时间观念。到达面试地点后应在等候室耐心等候，并保持安静及正确的坐姿.....
                                            <a href="">[详情]</a>
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="page">
                            <a href="javaScript:;" class="btnPage" id="firstPage">首页</a>
                            <a href="javaScript:;" id="prev">&lt;</a>
                            <div style="display: inline-block;">
                                <a href="javaScript:;">1</a>
                                <a href="javaScript:;">2</a>
                                <a href="javaScript:;" class="current">3</a>
                                <a href="javaScript:;">4</a>
                                <a href="javaScript:;">5</a>
                                <a href="javaScript:;">6</a>
                            </div>
                            <a href="javaScript:;" id="next">&gt;</a>
                            <a href="javaScript:;" class="btnPage" id="endPage">末页</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('ul.menu_ul li:eq(5)').addClass('current');
    $('ul.navUl>li:last-child a').css('border-bottom','dashed 1px #aaaaaa');
    //默认
    $('ul.navUl>li:eq(0)').addClass('current');
    $('ul.navUl>li:eq(0)').find('ol.navOl').fadeIn();
    $('ul.navUl>li a.navUl_a').bind('click',function(){
        var _this = $(this).parent();
        _this.addClass('current').siblings('li').removeClass('current');
        $('ul.navUl>li ol.navOl').hide();
        _this.find('ol.navOl').fadeIn();
    });
    $('.job li').bind('click',function(){
        $(this).addClass('current').siblings('li').removeClass('current');
    });
</script>
<include file="Public/footer"/>