<include file="Public/header"/>
<!-- matter-->
<div class="matter">
    <div class="wrap">
        <div class="matter_box">
            <div class="navL">
                <div class="navL_h">
                    <img src="__IMG__/organization/icon.png" alt=""/>
                    <em>|</em>
                    学生组织
                </div>
                <ul class="navUl navUl_organ">
                    <li>
                        <a href="javaScript:;" data-url="" class="navUl_a">
                            <em>学生活动</em>
                        </a>
                    </li>
                    <li>
                        <a href="javaScript:;" data-url="" class="navUl_a">
                            <em>学生风采</em>
                        </a>
                    </li>
                    <li>
                        <a href="javaScript:;" data-url="" class="navUl_a">
                            <em>学生捐赠</em>
                        </a>
                    </li>
                    <li>
                        <a href="javaScript:;" data-url="" class="navUl_a">
                            <em>学生服务</em>
                        </a>
                    </li>
                    <li>
                        <a href="javaScript:;" data-url="" class="navUl_a">
                            <em>学生交流</em>
                        </a>
                    </li>
                    <li>
                        <a href="javaScript:;" data-url="" class="navUl_a">
                            <em>校友</em>
                        </a>
                    </li>
                </ul>
                <div class="meet meet_organ">
                    <div class="meet_imgs">
                        <ul>
                            <li>
                                <a href=""><img src="images/news/meet.jpg" alt=""/></a>
                            </li>
                            <li>
                                <a href=""><img src="images/news/meet.jpg" alt=""/></a>
                            </li>
                            <li>
                                <a href=""><img src="images/news/meet.jpg" alt=""/></a>
                            </li>
                            <li>
                                <a href=""><img src="images/news/meet.jpg" alt=""/></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="meet_btn">
                    <!-- span-->
                </div>
            </div>
            <div class="contR">
                <div class="cont_box">
                    <div class="bannerR">
                        <img src="images/organization/banner.jpg" alt=""/>
                    </div>
                    <div class="headline">
                        <span class="hl_icon"></span>
                        当前位置：
                        <a href="javaScript:;">首页</a>
                        >
                        <a href="javaScript:;">学生组织</a>
                        >
                        <a href="javaScript:;">学生活动</a>
                    </div>
                    <div class="matterBox">
                        <ul class="organization">
                           <li>
                               <div class="organ_date">
                                   <h4>17</h4>
                                   <h5>2月</h5>
                               </div>
                               <div class="organ_br">
                                   <em></em>
                               </div>
                               <div class="organ_img">
                                   <a href=""><img src="images/organization/organ01.jpg" alt=""/></a>
                               </div>
                               <div class="organ_cont">
                                   <h3><a href="">CATTI中国•高级翻译专业从业资格认证</a></h3>
                                   <p>
                                       全国翻译专业资格（水平）考试是受国家人力资源和社会保障部委托，由中国外文出版发行事业局负责实施与管理的一项国家级职业资格考试，已纳入国家职业资格证书制度。2017年首次面向外籍人士推出的CATTI考试培训.....
                                       <a href="">[ 查看详情 ]</a>
                                   </p>
                               </div>
                           </li>
                            <li>
                                <div class="organ_date">
                                    <h4>06</h4>
                                    <h5>1月</h5>
                                </div>
                                <div class="organ_br">
                                    <em></em>
                                </div>
                                <div class="organ_img">
                                    <a href=""><img src="images/organization/organ02.jpg" alt=""/></a>
                                </div>
                                <div class="organ_cont">
                                    <h3><a href="">郊游：慕田峪长城</a></h3>
                                    <p>
                                        该活动对本校的来华留学生一律免费，不接受其他学校学生报名；由于学院要提前为留学生同学购买门票，活动要在报名时缴纳50元人民币押金，活动当天上车后马上退还。对于无故未参加活动的留学生同学，押金将不予退还.....
                                        <a href="">[ 查看详情 ]</a>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="organ_date">
                                    <h4>10</h4>
                                    <h5>3月</h5>
                                </div>
                                <div class="organ_br">
                                    <em></em>
                                </div>
                                <div class="organ_img">
                                    <a href=""><img src="images/organization/organ03.jpg" alt=""/></a>
                                </div>
                                <div class="organ_cont">
                                    <h3><a href="">非学历项目结业典礼</a></h3>
                                    <p>
                                        非学历项目结业典礼主要为证书颁发所设，请按照非学历教育事务部安排的指定时间和地点参加典礼；考试成绩合格的留学生同学将获得由学院颁发的结业证书，成绩优秀者还将有机会获得奖学金.....
                                        <a href="">[ 查看详情 ]</a>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="organ_date">
                                    <h4>08</h4>
                                    <h5>3月</h5>
                                </div>
                                <div class="organ_br">
                                    <em></em>
                                </div>
                                <div class="organ_img">
                                    <a href=""><img src="images/organization/organ04.jpg" alt=""/></a>
                                </div>
                                <div class="organ_cont">
                                    <h3><a href="">预科班开课</a></h3>
                                    <p>
                                        报名本科预科班项目的同学需要先参加面试进行分班；请携带本人护照、录取通知书或其他有效证件参加面试，不得找他人顶替；面试后将马上安排课程，请务必参加，不同班级将根据同学们的实际汉语水平安排课程.....
                                        <a href="">[ 查看详情 ]</a>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="organ_date">
                                    <h4>07</h4>
                                    <h5>3月</h5>
                                </div>
                                <div class="organ_br">
                                    <em></em>
                                </div>
                                <div class="organ_img">
                                    <a href=""><img src="images/organization/organ05.jpg" alt=""/></a>
                                </div>
                                <div class="organ_cont">
                                    <h3><a href="">2015年留学生汉语辩论赛</a></h3>
                                    <p>
                                        本次辩论赛采用淘汰制，初赛16支队伍抽签比赛，取胜的8支队伍进入复赛；复赛8支队伍抽签比赛， 取胜的4支队伍进入半决赛；半决赛4支队伍抽签比赛，取胜的2支队伍进入决赛；每队6人.....
                                        <a href="">[ 查看详情 ]</a>
                                    </p>
                                </div>
                            </li>
                        </ul>
                        <div class="page">
                            <a href="javaScript:;" class="btnPage" id="firstPage">首页</a>
                            <a href="javaScript:;" id="prev">&lt;</a>
                            <div style="display: inline-block;">
                                <a href="javaScript:;">1</a>
                                <a href="javaScript:;">2</a>
                                <a href="javaScript:;" class="current">3</a>
                                <a href="javaScript:;">4</a>
                                <a href="javaScript:;">5</a>
                                <a href="javaScript:;">6</a>
                            </div>
                            <a href="javaScript:;" id="next">&gt;</a>
                            <a href="javaScript:;" class="btnPage" id="endPage">末页</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('ul.menu_ul li:eq(6)').addClass('current');//项目介绍
    $('ul.navUl li:first-child a').css('border-top','0');
    //默认
    $('ul.navUl>li:eq(0)').addClass('current');
    $('ul.navUl>li:eq(0)').find('ol.navOl').fadeIn();
    $('ul.navUl>li a.navUl_a').bind('click',function(){
        var _this = $(this).parent();
        _this.addClass('current').siblings('li').removeClass('current');
        $('ul.navUl>li ol.navOl').hide();
        _this.find('ol.navOl').fadeIn();
    });
    $('.organization li:last-child').css('border-bottom','0');
</script>
<include file="Public/footer"/>