<include file="Public/header"/>
<!-- matter-->
<div class="matter">
    <div class="wrap">
        <div class="matter_box">
            <div class="navL">
                <div class="navL_h">
                    <img src="__IMG__/project/icon.png" alt=""/>
                    <em>|</em>
                    项目介绍
                </div>
                <ul class="navUl">
                    <li>
                        <a href="javaScript:;" data-url="" class="navUl_a">
                            <em>非学历项目</em>
                        </a>
                    </li>
                    <li>
                        <a href="javaScript:;" data-url="" class="navUl_a">
                            <em>本科学历项目</em>
                            <img src="__IMG__/icon/add.png" class="ia" alt=""/>
                            <img src="__IMG__/icon/add_cur.png" class="ia2" alt=""/>
                        </a>
                        <ol class="navOl">
                            <li><a href="javaScript:;"> >> <span>中文授课</span></a></li>
                            <li><a href="javaScript:;"> >> <span>英文授课</span></a></li>
                        </ol>
                    </li>
                    <li>
                        <a href="javaScript:;" data-url="" class="navUl_a">
                            <em>硕士研究生学历项目</em>
                            <img src="__IMG__/icon/add.png" class="ia" alt=""/>
                            <img src="__IMG__/icon/add_cur.png" class="ia2" alt=""/>
                        </a>
                        <ol class="navOl">
                            <li><a href="javaScript:;"> >> <span>中文授课</span></a></li>
                            <li><a href="javaScript:;"> >> <span>英文授课</span></a></li>
                        </ol>
                    </li>
                    <li>
                        <a href="javaScript:;" data-url="" class="navUl_a">
                            <em>博士研究生学历项目</em>
                            <img src="__IMG__/icon/add.png" class="ia" alt=""/>
                            <img src="__IMG__/icon/add_cur.png" class="ia2" alt=""/>
                        </a>
                        <ol class="navOl">
                            <li><a href="javaScript:;"> >> <span>中文授课</span></a></li>
                            <li><a href="javaScript:;"> >> <span>英文授课</span></a></li>
                        </ol>
                    </li>
                    <li>
                        <a href="javaScript:;" data-url="" class="navUl_a">
                            <em>学分项目</em>
                            <img src="__IMG__/icon/add.png" class="ia" alt=""/>
                            <img src="__IMG__/icon/add_cur.png" class="ia2" alt=""/>
                        </a>
                        <ol class="navOl">
                            <li><a href="javaScript:;"> >> <span>春季学期</span></a></li>
                            <li><a href="javaScript:;"> >> <span>暑期项目</span></a></li>
                            <li><a href="javaScript:;"> >> <span>秋季学期</span></a></li>
                        </ol>
                    </li>
                    <li>
                        <a href="javaScript:;" data-url="" class="navUl_a">
                            <em>互惠生项目</em>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="contR">
                <div class="cont_box">
                    <div class="bannerR">
                        <img src="images/project/banner.jpg" alt=""/>
                    </div>
                    <div class="headline">
                        <span class="hl_icon"></span>
                        当前位置：
                        <a href="javaScript:;">首页</a>
                        >
                        <a href="javaScript:;">项目介绍</a>
                        >
                        <a href="javaScript:;">非学历项目</a>
                    </div>
                    <div class="matterBox">
                        <ul class="project">
                            <li>
                                <img src="__IMG__/project/play.png" alt=""/>
                                <a href="">外交汉语强化培训项目</a>
                                <em>2018-03-11</em>
                            </li>
                            <li>
                                <img src="__IMG__/project/play.png" alt=""/>
                                <a href="">普通预科</a>
                                <em>2018-03-11</em>
                            </li>
                            <li>
                                <img src="__IMG__/project/play.png" alt=""/>
                                <a href="">强化预科</a>
                                <em>2018-03-20</em>
                            </li>
                            <li>
                                <img src="__IMG__/project/play.png" alt=""/>
                                <a href="">基础汉语</a>
                                <em>2018-03-22</em>
                            </li>
                            <li>
                                <img src="__IMG__/project/play.png" alt=""/>
                                <a href="">商务汉语</a>
                                <em>2018-03-23</em>
                            </li>
                            <li>
                                <img src="__IMG__/project/play.png" alt=""/>
                                <a href="">强化汉语</a>
                                <em>2018-03-23</em>
                            </li>
                            <li>
                                <img src="__IMG__/project/play.png" alt=""/>
                                <a href="">中国经济贸易研修</a>
                                <em>2018-03-23</em>
                            </li>
                            <li>
                                <img src="__IMG__/project/play.png" alt=""/>
                                <a href="">中国商贸文化选修课程（外语授课）</a>
                                <em>2018-03-24</em>
                            </li>
                            <li>
                                <img src="__IMG__/project/play.png" alt=""/>
                                <a href="">商务汉语听说速成3A项目</a>
                                <em>2018-03-25</em>
                            </li>
                        </ul>
                        <div class="page">
                            <a href="javaScript:;" class="btnPage" id="firstPage">首页</a>
                            <a href="javaScript:;" id="prev">&lt;</a>
                            <div style="display: inline-block;">
                                <a href="javaScript:;">1</a>
                                <a href="javaScript:;">2</a>
                                <a href="javaScript:;" class="current">3</a>
                                <a href="javaScript:;">4</a>
                                <a href="javaScript:;">5</a>
                                <a href="javaScript:;">6</a>
                            </div>
                            <a href="javaScript:;" id="next">&gt;</a>
                            <a href="javaScript:;" class="btnPage" id="endPage">末页</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('ul.menu_ul li:eq(0)').addClass('current');
    $('ul.navUl li:first-child a').css('border-top','0');
    //默认
    $('ul.navUl>li:eq(0)').addClass('current');
    $('ul.navUl>li:eq(0)').find('ol.navOl').fadeIn();
    $('ul.navUl>li a.navUl_a').bind('click',function(){
        var _this = $(this).parent();
        _this.addClass('current').siblings('li').removeClass('current');
        $('ul.navUl>li ol.navOl').hide();
        _this.find('ol.navOl').fadeIn();
    });
</script>
<include file="Public/footer"/>