<include file="Public/header"/>
<!-- matter-->
<div class="matter">
    <div class="wrap">
        <div class="matter_box">
            <div class="navL">
            	<volist name="project" id="list">
                <div class="navL_h">
                    <img src="__IMG__/project/icon.png" alt=""/>
                    <em>|</em>
                    {$list[$title]}
                </div>
                <ul class="navUl">
                	<notempty name="list['_']">
		                <volist name="list['_']" id="vo">
	                    <li <if condition="$category_id neq null"><if condition="$category_id eq $vo['category_id']">class="current"</if> <else/> <if condition="$key eq 0">class="current"</if>  </if> >
	                        <a href="/index.php/Home/Project/project?category_id={$vo['category_id']}" class="navUl_a">
	                            <em>{$vo[$title]}</em>
	                            <img src="__IMG__/icon/add.png" class="ia" alt=""/>
	                            <img src="__IMG__/icon/add_cur.png" class="ia2" alt=""/>
	                        </a>
	                        <notempty name="vo['_']">
		                	<ol class="navOl">
		                	<volist name="vo['_']" id="vo1">
	                            <li><a href="javaScript:;"> >> <span>{$vo1[$title]}</span></a></li>
	                        </volist>
	                        </ol>
	                        </notempty>
	                    </li>
	                    </volist>
                    </notempty>
                </ul>
                </volist>
                <img src="__IMG__/navHide.png" alt="" id="goBack" class="goBack"/>
            </div>
            <div class="contR">
                <div class="cont_box">
                    <div class="bannerR">
                        <volist name="picture" id="vo">
	                        <img src="/{:C('PICTURE_UPLOAD')['rootPath'].$vo['path']}" alt=""/>
	                    </volist>
                    </div>
                    <div class="headline">
                        <span class="hl_icon"></span>
						<!-- 面包屑 -->
                       <volist name="words" id="vo">
	                	<if condition="$vo.id eq 3">
	                		{$vo[$title]}：
	                	</if>
               			</volist>
                       <volist name="crumb" id="vo">
                        	<if condition="$key eq 0">
		                        <a href="{$vo['url']}">{$vo[$title]}</a>
		                        >
	                        </if>
	                        <if condition="$key eq 1">
		                        <a href="{$vo['url']}">{$vo[$title]}</a>
		                        >
	                        </if>
		                    <if condition="$key eq 2">
		                        <span id="activecrumb">
			                        <a href="javascript:;">{$vo[$title]}</a>
                        		</span>
		                    </if>
                        </volist>
                    </div>
                    <div class="matterBox">
                    	<if condition="$id neq null">
                    		<volist name="content" id="vo">
                    			{$vo.content}
                    		</volist>
                    	<else/>
                    		<ul class="project">
		                    	<script>
			                    	var contentarr = {$contarr};
			                    	console.log(contentarr);
			                    	function page(p){
			                    		
			                    	}
		                    	</script>
                        	</ul>
                        	<div class="page"></div>
                    	</if>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<img src="__IMG__/Floating.png" alt="" id="Floating" class="Floating">
<script>
    $('ul.navUl li:first-child a').css('border-top','0');
    //默认
    $('ul.navUl>li:eq(0)').find('ol.navOl').fadeIn();
</script>
<include file="Public/footer"/>