<include file="Public/header"/>
<!-- matter-->
<div class="matter">
    <div class="wrap">
        <div class="matter_box">
            <div class="navL">
            	<volist name="about" id="list">
                <div class="navL_h">
                    <img src="__IMG__/about/icon.png" alt=""/>
                    <em>|</em>
                    {$list[$title]}
                </div>
                <ul class="navUl">
                	<notempty name="list['_']">
		                <volist name="list['_']" id="vo">
	                    <li data-id="{$vo['category_id']}">
	                        <a href="javaScript:;" data-url="" class="navUl_a">
	                            <em>{$vo[$title]}</em>
	                            <img src="__IMG__/icon/add.png" class="ia" alt=""/>
	                            <img src="__IMG__/icon/add_cur.png" class="ia2" alt=""/>
	                        </a>
	                        <notempty name="vo['_']">
		                	<ol class="navOl">
		                	<volist name="vo['_']" id="vo1">
	                            <li data-id="{$vo1['category_id']}"><a href="javaScript:;"> >> <span>{$vo1[$title]}</span></a></li>
	                        </volist>
	                        </ol>
	                        </notempty>
	                    </li>
	                    </volist>
                    </notempty>
                </ul>
                </volist>
                <volist name="document" id="vo">
                <div class="dime">
                    <div class="_dime">
                        <a href="javaScript:;"><img src="{$vo['cover_id']}" alt=""/></a>
                    </div>
                    <p>{$vo[$title]}</p>
                </div>
                </volist>
                <img src="__IMG__/navHide.png" alt="" id="goBack" class="goBack"/>
            </div>
            <div class="contR">
                <div class="cont_box">
                    <div class="bannerR">
                    <volist name="picture" id="vo">
                        <img src="/{:C('PICTURE_UPLOAD')['rootPath'].$vo['path']}" alt=""/>
                    </volist>
                    </div>
                    <div class="headline">
                       <span class="hl_icon"></span>
                        <!-- 面包屑 -->
                       <volist name="words" id="vo">
	                	<if condition="$vo.id eq 3">
	                		{$vo[$title]}：
	                	</if>
               			</volist>
                       <volist name="crumb" id="vo">
                        	<if condition="$key eq 0">
		                        <a href="{$vo['url']}">{$vo[$title]}</a>
		                        >
	                        </if>
	                        <if condition="$key eq 1">
		                        <a href="{$vo['url']}">{$vo[$title]}</a>
		                        >
	                        </if>
		                    <if condition="$key eq 2">
		                        <span id="activecrumb">
			                        <a href="javascript:;">{$vo[$title]}</a>
                        		</span>
		                    </if>
                        </volist>
                    </div>
                    <div class="matterBox">
                        <div class="set_box">
                            <ul class="setup">
                                <li>
                                    <div class="set_tit">
                                        <em>学院办公室</em>
                                        <span mark="1">+</span>
                                        <img src="images/about/triangle.png" alt=""/>
                                        <div class="cb"></div>
                                    </div>
                                    <a href="javaScript:;" class="set_img"><img src="images/about/setUp01.jpg" alt=""/></a>
                                    <div class="set_type">
                                        <p><span> > </span><a href="">分类1</a></p>
                                        <p><span> > </span><a href="">分类2</a></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="set_tit">
                                        <em>招生及项目开发部</em>
                                        <span mark="1">+</span>
                                        <img src="images/about/triangle.png" alt=""/>
                                        <div class="cb"></div>
                                    </div>
                                    <a href="javaScript:;" class="set_img"><img src="images/about/setUp03.jpg" alt=""/></a>
                                    <div class="set_type">
                                        <p><span> > </span><a href="">来华留学教育项目开发</a></p>
                                        <p><span> > </span><a href="">招生咨询</a></p>
                                        <p><span> > </span><a href="">招生资格审核及录取</a></p>
                                        <p><span> > </span><a href="">对外宣传</a></p>
                                        <p><span> > </span><a href="">合作院校及机构联络及接待</a></p>
                                        <p><span> > </span><a href="">奖学金申请</a></p>
                                        <p><span> > </span><a href="">录取文件制作及发放</a></p>
                                        <p><span> > </span><a href="">短期团队接待</a></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="set_tit">
                                        <em>教学部</em>
                                        <span mark="1">+</span>
                                        <img src="images/about/triangle.png" alt=""/>
                                        <div class="cb"></div>
                                    </div>
                                    <a href="javaScript:;" class="set_img"><img src="images/about/setUp05.jpg" alt=""/></a>
                                    <div class="set_type">
                                        <p><span> > </span><a href="">分类1</a></p>
                                        <p><span> > </span><a href="">分类2</a></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="set_tit">
                                        <em>学历教育办公室</em>
                                        <span mark="1">+</span>
                                        <img src="images/about/triangle.png" alt=""/>
                                        <div class="cb"></div>
                                    </div>
                                    <a href="javaScript:;" class="set_img"><img src="images/about/setUp07.jpg" alt=""/></a>
                                    <div class="set_type">
                                        <p><span> > </span><a href="">分类1</a></p>
                                        <p><span> > </span><a href="">分类2</a></p>
                                    </div>
                                </li>
                            </ul>
                            <ul class="setup">
                                <li>
                                    <div class="set_tit">
                                        <em>非学历教育事务部</em>
                                        <span mark="1">+</span>
                                        <img src="images/about/triangle.png" alt=""/>
                                        <div class="cb"></div>
                                    </div>
                                    <a href="javaScript:;" class="set_img"><img src="images/about/setUp02.jpg" alt=""/></a>
                                    <div class="set_type">
                                        <p><span> > </span><a href="">分类1</a></p>
                                        <p><span> > </span><a href="">分类2</a></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="set_tit">
                                        <em>学生事务部</em>
                                        <span mark="1">+</span>
                                        <img src="images/about/triangle.png" alt=""/>
                                        <div class="cb"></div>
                                    </div>
                                    <a href="javaScript:;" class="set_img"><img src="images/about/setUp04.jpg" alt=""/></a>
                                    <div class="set_type">
                                        <p><span> > </span><a href="">签证申请</a></p>
                                        <p><span> > </span><a href="">组织学生活动</a></p>
                                        <p><span> > </span><a href="">管理学生组织</a></p>
                                        <p><span> > </span><a href="">应对突发及特殊事件</a></p>
                                        <p><span> > </span><a href="">心理咨询</a></p>
                                        <p><span> > </span><a href="">保险理赔</a></p>
                                        <p><span> > </span><a href="">部分奖学金评定</a></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="set_tit">
                                        <em>预科项目管理办公室</em>
                                        <span mark="1">+</span>
                                        <img src="images/about/triangle.png" alt=""/>
                                        <div class="cb"></div>
                                    </div>
                                    <a href="javaScript:;" class="set_img"><img src="images/about/setUp06.jpg" alt=""/></a>
                                    <div class="set_type">
                                        <p><span> > </span><a href="">分类1</a></p>
                                        <p><span> > </span><a href="">分类2</a></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="set_tit">
                                        <em>服务中心</em>
                                        <span mark="1">+</span>
                                        <img src="images/about/triangle.png" alt=""/>
                                        <div class="cb"></div>
                                    </div>
                                    <a href="javaScript:;" class="set_img"><img src="images/about/setUp08.jpg" alt=""/></a>
                                    <div class="set_type">
                                        <p><span> > </span><a href="">分类1</a></p>
                                        <p><span> > </span><a href="">分类2</a></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<img src="__IMG__/Floating.png" alt="" id="Floating" class="Floating">
<script>
    $('#nav a:eq(1)').addClass('current');
    $('ul.navUl li:first-child a').css('border-top','0');

    for(var i=1;i<=$('.setup li').length;i++){
        scrollT($("#setA"+i),$("#setUp"+i));
    }
    function scrollT(ele,lis) {
        ele.bind('click', function () {
            $("html, body").animate({
                scrollTop: lis.offset().top-50
            }, {duration: 500, easing: "swing"});
            if($(window).width()<768){
                $('.navL').animate({'left':'-300px'});
                $('#Floating').show();
            }
            return false;
        });
    }

    var initType = window.location.search;
    console.log(initType);
    var initIdx = null;
    var liCur = null;
    if(initType!=undefined && initType!=''){
        initType = initType.split('=')[1];
        initIdx = initType;
        //展示菜单
        for(var i=0;i<$('.navUl>li').length;i++){
            var _lis = $('.navUl>li').eq(i);
            if(_lis.attr('data-id')==initIdx){
                liCur = _lis.find('a.navUl_a em').text();
                init(liCur,3);
            }
        }
    }else{
        //默认展示第一个菜单
        liCur = $('ul.navUl>li:first-child');
        init(liCur,0);
    }
    function init(liCur,type){
        var idCur = liCur.attr('data-id');
        _ajax(idCur,type);
        var nameCur = liCur.find('a.navUl_a em').text();
        liCur.addClass('current');
        liCur.find('ol.navOl').fadeIn();
        //面包屑
        crumbs(nameCur);
    }
    function crumbs(name){
        $('#activecrumb a').text(name);
    }

    /**
        0-详情
        1-分类
        2-详情-更多
        3-特殊-部门设置
     */
    //左侧菜单
    $('ul.navUl>li').bind('click',function(){
        var _this = $(this);
        if(_this.hasClass('current')){
            if(_this.find('ol').attr('class') == 'navOl'){/*收回子菜单*/
                _this.removeClass('current');
                _this.find('ol.navOl').fadeOut();
            }else{/*收回主菜单*/
                if($(window).width()<768){
                    $('.navL').animate({'left':'-300px'});
                    $('#Floating').show();
                }
            }
        }else{
            if(_this.find('ol').attr('class') == 'navOl'){/*展开子菜单*/
                /*展示第一个子菜单*/
                var idCur = _this.find('ol li:first-child').attr('data-id');
                if($(this).index() == 1){/*部门设置*/
                    _ajax(idCur,3);
                }else if($(this).index() == 3){/*校园风光*/
                    _ajax(idCur,1);
                }else{
                    _ajax(idCur,0);
                }
                _this.addClass('current').siblings('li').removeClass('current');
                $('ul.navUl>li ol.navOl').hide();
                _this.find('ol.navOl').fadeIn();
            }else{/*收回主菜单*/
                var idCur = _this.attr('data-id');
                if($(this).index() == 3){/*校园风光*/
                    _ajax(idCur,1);
                }else{
                    _ajax(idCur,0);
                }
                _this.addClass('current').siblings('li').removeClass('current');
                $('ul.navUl>li ol.navOl').hide();
                if($(window).width()<768){
                    $('.navL').animate({'left':'-300px'});
                    $('#Floating').show();
                }
            }
        }
    });

    function _ajax(id,type){
        console.log(id+'--'+type);
        /*var param = {};
        param.where = "m.category_id="+id;
        var url = '';
        if(type == 0){/!*详情*!/
            url = '/index.php/Home/About/detail';
        }else if(type == 1){/!*分类*!/
            url = '/index.php/Home/About/document/'
        }else if(type == 2){/!*详情更多*!/
            url = '/index.php/Home/About/detail';
            param.more = true;
        }else if(type == 3){/!*特殊部门设置*!/
            url = '/index.php/Home/About/document/';
        }
        $.ajax({
            type: 'post',
            url: url,
            dataType: "json",
            data: param,
            success: function(data){
                console.log(data);
            },
            error: function(data){
                console.log(data);
            }
        });*/
    }
</script>
<include file="Public/footer"/>